<h3>
    <a href="/comments/{{comment.id}}">{{comment.title}}</a>
</h3>
<p>
    <small>{{formatTime comment.date}}</small>
    <br>
    {{comment.body}}
</p>


<form method="POST" action="/comments/{{comment._id}}?_method=DELETE">
    <button>Remove</button>
</form>